body{
    background-image: url("../image/oshare4.jpg");
   
   
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 60px;
    
    
    color:red;
    font-family: Comic Sans MS ;
    background-color:aquamarine;
    
    
    
}
h2{
    text-align: center;
    color:red;
    font-family: Comic Sans MS ;
    background-color:aquamarine;
    font-size: 40px;
    
}
h3{
    color: white;
    
    
}
p{
    
    color: white
}
td{
    background-color: firebrick;
   font-size: 80px; 

    
}

li{font-size: 60px;}

ol{
    background-image: url("../image/simple.jpg");
    
}